<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Оффлайн блокнот OfflinePad</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="css/google_fonts2.css" rel="stylesheet"> -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <div id="app" v-bind:class="{show_footer: tags.footer.show}">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Все</a></li>
      <li class="divider"></li>
      <li><a href="#!">Разбор</a></li>
      <li><a href="#!">Задачи</a></li>
    </ul>

    <ul class="collection tags" v-if="section == 'tags'">
      <opl-tag-item v-for="tag in tags.items"
        :tag="tag"
        v-on:click="show_edit_tag_form"
        v-on:hide="hide_tag"
        v-on:show="show_tag"
        v-on:delete="remove_tag">
      </opt-tag-item>
    </ul>

    <ul class="collection records" v-if="section == 'notes'">
      <li class="collection-item">
        <p>
          <span>
            <i class="material-icons">access_time</i>
            <span>10 августа 2019 16:00:01</span>
          </span>
          <a class="waves-effect waves-teal btn-floating right">
            <i class="material-icons">delete</i>
          </a>
          <a class="waves-effect waves-light btn-floating right">
            <i class="material-icons">create</i>
          </a>
        </p>
        <p>
          <div class="chip">
            Работа
          </div>
          <div class="chip">
            Задачи
          </div>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </li>
      <li class="collection-item">
        <p>
          <span>
            <i class="material-icons">access_time</i>
            <span>10 августа 2019 16:00:01</span>
          </span>
          <a class="waves-effect waves-teal btn-floating right">
            <i class="material-icons">delete</i>
          </a>
          <a class="waves-effect waves-light btn-floating right">
            <i class="material-icons">create</i>
          </a>
        </p>
        <p>
          <div class="chip">
            Работа
          </div>
          <div class="chip">
            Задачи
          </div>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </li>
      <li class="collection-item">
        <p>
          <span>
            <i class="material-icons">access_time</i>
            <span>10 августа 2019 16:00:01</span>
          </span>
          <a class="waves-effect waves-teal btn-floating right">
            <i class="material-icons">delete</i>
          </a>
          <a class="waves-effect waves-light btn-floating right">
            <i class="material-icons">create</i>
          </a>
        </p>
        <p>
          <div class="chip">
            Работа
          </div>
          <div class="chip">
            Задачи
          </div>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </li>
    </ul>


    <div class="tags_footer" v-if="section == 'tags'">
      <p>
        Найдено {{tags.footer.found}} записей
        <a href="#!" class="modal-close waves-effect waves-green btn" v-on:click="filter_tags">Показать</a>
      </p>
    </div>

    <nav class="light-blue lighten-1 header" role="navigation">
      <div class="nav-wrapper container"><!-- <a href="#!" class="brand-logo">Органайзер</a> -->

        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul id="tags_filter" v-if="section == 'tags'">
          <li class="search_li">
            <div class="input-field">
              <input id="search" type="search" v-model="tags.search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons" v-on:click="tags_search_clear">close</i>
            </div>
          </li>
        </ul>

        <ul id="notes_filter" class="left" v-if="section == 'notes'">
          <li><a href="#" class="modal-trigger" data-target="filter_records_modal"><i class="material-icons">filter_list</i></a></li>
          <li>
            <a href="#" id="sort_by_date">
              Дата
              <i class="material-icons right up active">arrow_upward</i>
              <i class="material-icons right down">arrow_downward</i>
            </a>
          </li>
        </ul>
  

        <ul class="right hide-on-med-and-down desktop_menu">
          <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Записи<i class="material-icons right">arrow_drop_down</i></a></li> -->
          <li :class="{active: section == 'notes'}" v-on:click="change_section('notes')">
            <a href="#">Записи</a>
          </li>
          <li :class="{active: section == 'tags'}" v-on:click="change_section('tags')">
            <a href="#">Метки</a>
          </li>
          <li :class="{active: section == 'sync'}" v-on:click="change_section('sync')">
            <a href="#">Синхронизация</a>
          </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li :class="{active: section == 'notes'}" v-on:click="change_section('notes')">
            <a href="#">Записи</a>
            <!-- <ul>
              <li><a href="#!"><i class="material-icons">dashboard</i>Все</a></li>
              <li class="divider"></li>
              <li><a href="#!"><i class="material-icons">dashboard</i>Разбор</a></li>
              <li><a href="#!"><i class="material-icons">dashboard</i>Задачи</a></li>
            </ul> -->
          </li>
          <li :class="{active: section == 'tags'}" v-on:click="change_section('tags')">
            <a href="#">Метки</a>
          </li>
          <li :class="{active: section == 'sync'}" v-on:click="change_section('sync')">
            <a href="#">Синхронизация</a>
          </li>
        </ul>
      </div>
    </nav>
    <a class="btn-floating btn-large waves-effect waves-light red add_btn"
      v-on:click="show_add_tag_form" id="add_tag" v-if="section == 'tags'">
      <i class="material-icons">add</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light red add_btn"
      v-on:click="show_add_note_form" id="add_note" v-if="section == 'notes'">
      <i class="material-icons">add</i>
    </a>
    <opl-tag-form :form="tags.form" v-if="section == 'tags'"
      v-on:submit="tag_form_ok"></opl-tag-form>
    <opl-loadscreen :visible="loadscreen_visible"></opl-loadscreen>

    <div id="add_record_modal" class="modal" v-if="section == 'notes'">
      <div class="modal-content">
        <h4>Новая запись</h4>
        <p>
          <select multiple>
            <option value="" disabled selected>Выберите метки</option>
            <option value="1">Работа</option>
            <option value="2">Задачи</option>
            <option value="3">Саморазвитие</option>
            <option value="4">Мысли</option>
          </select>
        </p>
        <label>
          Текст:
          <textarea class="materialize-textarea"></textarea>
        </label>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Создать</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Отмена</a>
      </div>
    </div>
  
    <div id="filter_records_modal" class="modal" v-if="section == 'notes'">
      <div class="modal-content">
        <h4>Фильтр</h4>
        <p>
          <select multiple>
            <option value="" disabled selected>Выберите метки</option>
            <option value="1">Работа</option>
            <option value="2">Задачи</option>
            <option value="3">Саморазвитие</option>
            <option value="4">Мысли</option>
          </select>
        </p>
        <p>
          <label>
            Дата от:
            <input type="text" class="datepicker">
          </label>
          <label>
            Дата до:
            <input type="text" class="datepicker">
          </label>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Применить</a>
      </div>
    </div>
  

  </div>

  <!--  Scripts-->
  <script src="js/vue.js"></script>
  <script src="js/components.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  
  <script>
    $(document).ready(function() {
      var app = new Vue({
        el: '#app',
        data: function() {
          var data = {
            loadscreen_visible: true,
            section: "tags",
            notes: {
              form: {
                text: "",
                action: "",
                tags: [],
                timestamp: 0,
              },
              order_by_timestamp: "asc",
              filter: {
                text: "",
                tags: "",
                timestamp_from: null,
                timestamp_to: null,
              },
              items: [],
            },
            tags: {
              form: {
                visible: false,
                text: "",
                action: "",
              },
              search: '',
              footer: {
                show: false,
                found: 66,
              },
              items: [],
            }
          };
          var k = 0;
          for(k = 0; k < 20; k++) {
            data.tags.items.push(
              {
                "checked": false,
                "id": k,
                "name": "Задачи " + k,
                "count": Math.floor(Math.random() * 35 + 10),
                "hidden": false,
              }
            );
          }
          return data;
        },
        watch: {
          "tags.items": {
            "handler": function() {
              var selected = [];
              var k, item;
              for(k = 0; k < this.tags.items.length; k++) {
                item = this.tags.items[k];
                if(item.checked) {
                  selected.push(item.id);
                }
              }
              this.tags.footer.show = selected.length > 0;
            },
            deep: true,
          },
        },
        computed: {
          filtered_tags: function() {
            if(this.tags.search == "") {
              return this.tags.items;
            }
            result = [];
            var re = new RegExp(this.tags.search, "i");
            var k, item;
            for(k = 0; k< this.tags.items.length; k++) {
              item = this.tags.items[k];
              if(re.test(item.name)) {
                result.push(item);
              }
            }
            return result;
          },
        },
        mounted: function() {
          this.loadscreen_visible = false;
        },
        methods: {
          change_section: function(section) {
            this.section = section;
          },
          remove_tag: function(tag_id) {
            var tag_index = _.findIndex(this.tags.items, {id: tag_id});
            this.tags.items.splice(tag_index, 1);
          },
          hide_tag: function(tag_id) {
            var tag_index = _.findIndex(this.tags.items, {id: tag_id});
            this.tags.items[tag_index].hidden = true;
          },
          show_tag: function(tag_id) {
            var tag_index = _.findIndex(this.tags.items, {id: tag_id});
            this.tags.items[tag_index].hidden = false;
          },
          filter_tags: function() {
            console.log("filter_tags");
          },
          tags_search_clear: function() {
            this.tags.search = "";
          },
          show_edit_tag_form: function(id) {
            var tag = _.find(this.tags.items, {id: id});
            if(tag != null) {
              this.tags.form.id = id;
              this.tags.form.text = tag.name;
              this.tags.form.action = "edit";
              this.show_tag_form();
            }
          },
          show_add_tag_form: function() {
            this.tags.form.text = "";
            this.tags.form.action = "add";
            this.show_tag_form();
          },
          show_add_note_form: function() {
            // this.tags.form.text = "";
            // this.tags.form.action = "add";
            // this.show_tag_form();
          },
          show_tag_form: function() {
            this.tags.form.visible = true;
          },
          tag_form_ok: function() {
            if(this.tags.form.action == "add") {
              var item = {
                check: false,
                id: +(new Date()),
                name: this.tags.form.text,
                count: 0,
                hidden: false,
              };
              this.tags.items.push(item);
            }
            if(this.tags.form.action == "edit") {
              var tag = _.find(this.tags.items, {id: this.tags.form.id});
              if(tag != null) {
                tag.name = this.tags.form.text;
              }
            }
          }
        }
      });
    });
  </script>

  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('select').formSelect();
      $(".dropdown-trigger").dropdown();
      $('.modal').modal();
      $('.datepicker').datepicker();

      $('#sort_by_date').click(function(e) {
        e.preventDefault();
        if($("#sort_by_date i.up").hasClass("active")) {
          $("#sort_by_date i.up").removeClass("active");
          $("#sort_by_date i.down").addClass("active");
        } else {
          $("#sort_by_date i.down").removeClass("active");
          $("#sort_by_date i.up").addClass("active");
        }
      });

      // setTimeout(function() {
      //   $("#loadscreen").fadeOut();
      // }, 0);
      var currenct_scrolltop = $(document).scrollTop();
      var header_top = 0;
      var header_height = $(".header").height();
      $(document).on("scroll", function(e) {
        var scroll = $(document).scrollTop()
        var delta = scroll - currenct_scrolltop;
        header_top -= delta;
        if(header_top < -header_height) {
          header_top = -header_height;
          $("#add_tag").css("bottom", -100);
          // if(!animating) {
          //   $("#add_record").animate({"bottom": -100}, 50, function() {animating=false;});
          //   animating = true;
          // }
        }
        if(header_top > 0) {
          header_top = 0;
          $("#add_tag").css("bottom", 30);
          // if(!animating) {
          //   $("#add_record").animate({"bottom": 30}, 50, function() {animating=false;});
          //   animating = true;
          // }
        }
        $(".header").css("top", header_top);
        currenct_scrolltop = scroll;
      });
    });
  </script>

  </body>
</html>
