body,
.collection .collection-item,
.fullscreenbox {
  background-color:rgb(30, 42, 49);
}

#app,
.sidenav li > a,
.chip,
.grey_icon,
nav ul div,
svg.mobile-menu-icon,
input[type=text],
textarea,
.btn-flat,
.timepicker-tick,
.dropdown-content > li a {
  color: rgb(220, 243, 255);
}

.month-prev svg,
.month-next svg {
  fill: rgb(220, 243, 255);
}

.highlight {
  color: darkorange;
}

.wizard-hinttext {
  color: #85a3bd;
}

nav,
.notes_extended_filter,
.dropdown-content,
.modal,
.card,
.sidenav,
.sidenab li {
  background-color: rgb(43, 60, 70);
}

.dropdown-content > li:hover a {
  background-color: rgb(33, 45, 50);
}

.divider {
  background-color:rgb(63, 101, 123);
}

.sidenav li.active {
  background-color: rgb(43, 60, 70);
  border-left: 4px solid #53a6fa;

  background-color: rgb(43, 60, 70);
  border-left: 4px solid darkorange;
}

.sidenav li.active > a,
.sidenav li.active svg.mobile-menu-icon {
  /* color: #53a6fa; */
  color: darkorange;
}

.chip {
  background-color: #2b3c46;
}

.theme--text-color {
  color:white;
}

.toggle-extended-filter-btn,
.toggle-extended-filter-btn:focus,
.toggle-extended-filter-btn:hover {
  background-color: #2b3c46;
}

.toggle-extended-filter-btn.active,
.toggle-extended-filter-btn.active:focus,
.toggle-extended-filter-btn.active:hover {
  background-color: darkorange;
}

.timepicker-plate {
  background-color:rgb(30, 42, 49);
}

.card.attention {
  background-color: #6c0292;
}

::-webkit-input-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
::placeholder {
  color: #888;
}

.social-button {
  background-color: #2b3c46 !important;
}

input.validate.filter_name {
  background: unset;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: rgb(43, 60, 70);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: darkorange;
}

.input-field input[type=search]:not(.browser-default) {
  color: darkorange;
}

input {
  color: white;
}

nav ul a,
nav .brand-logo {
  color: white;
}

.desktop_menu li.active a {
  color: darkorange;
  font-weight: bold;
}

.wizard-secret {
  border-color: white;
}

.text-selector:hover,
.text-selector.active {
  color: darkorange;
}

.notes_extended_filter .chip {
  /* background-color: #1e2a31; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.action-button {
  background-color: rgb(43, 60, 70) !important;
}