body,
.collection .collection-item,
.fullscreenbox {
  background-color:rgb(30, 42, 49);
}

#app,
.sidenav li > a,
.chip,
.grey_icon,
nav ul a,
nav ul div,
svg.mobile-menu-icon,
input[type=text],
textarea,
.btn-flat,
.timepicker-tick,
.dropdown-content > li a {
  color: rgb(220, 243, 255);
}

.month-prev svg,
.month-next svg {
  fill: rgb(220, 243, 255);
}

.highlight {
  color: darkorange;
}

nav,
.notes_extended_filter,
.dropdown-content,
.modal,
.card,
.sidenav {
  background-color: rgb(43, 60, 70);
}

.dropdown-content > li:hover a {
  background-color: rgb(33, 45, 50);
}

.divider {
  background-color:rgb(63, 101, 123);
}

.sidenav li.active {
  background-color: rgb(74, 77, 100);
}

.chip {
  background-color: #666;
}

.collection,
.collection .collection-item {
  border-bottom: 1px solid #444;
}

.collection {
  border: 1px solid #444;
}

.theme--text-color {
  color:white;
}

.toggle-extended-filter-btn,
.toggle-extended-filter-btn:focus,
.toggle-extended-filter-btn:hover {
  background-color: #5a5a5a;
}

.toggle-extended-filter-btn.active,
.toggle-extended-filter-btn.active:focus,
.toggle-extended-filter-btn.active:hover {
  background-color: rgb(244, 67, 54);
}

.timepicker-plate {
  background-color:rgb(30, 42, 49);
}

.card.attention {
  background-color: #6c0292;
}

::-webkit-input-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
::placeholder {
  color: #888;
}

.social-button {
  background-color: #5a5a5a !important;
}

input.validate.filter_name {
  background: unset;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: rgb(43, 60, 70);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: darkorange;
}

.input-field input[type=search]:not(.browser-default) {
  color: darkorange;
}

input {
  color: white;
}
