/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.collection .collection-item {
  background-color: unset;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger, label[for='search'] {
  color: white;
}

.grey_icon {
  color: #666;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

.input-field input[type=search] ~ svg {
  position: absolute;
  top: 13px;
  width: 14px;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}

nav svg.nav-icon {
  width: 18px !important;
  height: 18px !important;
  margin-top: 16px;
}

svg.mobile-menu-icon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 8px;
  color: #666;
}

nav ul div {
  color: black;
}


.input-field input[type=search]:focus ~ svg {
  color: #777;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.collection {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 86px;
}

select.browser-default {
  position: relative;
  top: 1px;
  height: 30px;
  display: inline;
  width: calc(100% - 24px);
}

.chip > svg[data-icon=trash] {
  margin-left: 10px;
}

p.multiline-text {
  margin-block-start: 0.4rem;
  margin-block-end: 0.4rem;
  white-space: pre-wrap;
  line-height: 1.2rem;
  text-align: justify;
}

.add-tag-to-note {
  position: relative;
  top: 3px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

i.sort-icon.material-icons {
  display: inline;
}

.search_li {
  width: calc(100% - 350px);
}

@media only screen and (max-width : 993px) {
  .search_li {
    width: calc(100% - 120px);
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .search_li {
    width: calc(100% - 120px);
  }

  .nav-wrapper.container {
    width: 100%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.tag_delete_btn {
  position: relative;
  right: -10px;
}

.modal_shown {
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
}

.visibility_hidden {
  visibility: hidden;
}

#tags_filter {
  display: inline;
}

.add_btn {
  bottom: 15px;
  right: 15px;
  position: fixed;
}

.add_btn.hidden {
  bottom: -100px;
}

.timestamp i {
  position: relative;
  top: 7px;
}

input[type=text]:not(.browser-default) {
  height: 2em;
  margin-bottom: 4px;
}

textarea.materialize-textarea {
  margin: 0;
}

input[type=text]:not(.browser-default),
textarea.materialize-textarea {
  font-size: 14px;
}

.editing {
  z-index: 3000;
  position: relative;
}

.width-eq-parent {
  width: 100%;
}

.message_popup {
  position: fixed;
  left: 10px;
  bottom: -5px;
}

.social-button {
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidenav .divider {
  margin: 0;
}
