.records {
  margin-top: 64px;
}
.tags {
  margin-top: 64px;
}


@media all (max-width: 480px) {
  .records {
    margin-top: 50px;
  }
  .tags {
    margin-top: 50px;
  }
}

.record_stamp i {
  position: absolute;
  margin-top: -1px;
}

#search {
  height: 100%;
}

.record_stamp span {
  margin-left: 30px;
}

.record_edit_btn {
  margin-right: 10px;
}

#tags_filter {
  height: 100%;
}

#tags_filter li {
  height: 100%;
}

#loadscreen {
  width: 100%;
  height: 100%;
  position:fixed;
  left: 0px;
  top: 0px;
  z-index: 2000;
  background: white;
}
#loadscreen .center_span {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#add_record {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
i.active {
  color: green;
}
#records_filter li {
  border-left: solid white 1px;
}
.modal {
  height: 70%;
}

.tags_footer {
  display: none;
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  bottom: 0px;
  background: red;
}
.show_footer .tags_footer {
  display: block;
}
.show_footer {
  padding-bottom: 60px;
}


.taskstate {
  position: relative;
  top: -5px;
}